## ğŸ“‚ DataFrame ì¸ë±ì„œ - loc

DataFrameì˜ ì¼ë°˜ì ì¸ ì¸ë±ì‹± ë°©ë²•ì€ ì—´ ìš°ì„ ì´ê¸° ë•Œë¬¸ì— í–‰ ë‹¨ìœ„ì˜ ì ‘ê·¼ì´ ì–´ë µë‹¤.<br>
locëŠ” DataFrameì˜ ì¸ë±ì‹± ë°©ë²• ì¤‘ í•˜ë‚˜ë¡œ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í–‰ ë‹¨ìœ„ì˜ ë°ì´í„°ì— ì ‘ê·¼í•  ìˆ˜ ìˆë‹¤.

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.DataFrame(np.arange(10, 22).reshape(3,4),
                  index=['a', 'b', 'c'],
                  columns=['A', 'B', 'C', 'D'])
df1

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

ì¸ë±ì„œë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šì„ ê²½ìš° DataFrameì˜ ì¸ë±ì‹±ì€ ì—´ ìš°ì„ ì´ë¯€ë¡œ ì•„ë˜ì™€ ê°™ì´ í–‰ ë‹¨ë… ì¸ë±ì‹±ì´ ë¶ˆê°€ëŠ¥í•˜ë‹¤.

In [4]:
try :
    df1['a']
except Exception as e :
    print(type(e))

<class 'KeyError'>

locë¥¼ ì‚¬ìš©í•˜ë©´ ë‹¤ìŒê³¼ ê°™ì´ í–‰ ë‹¨ë… ì¸ë±ì‹±ì´ ê°€ëŠ¥í•˜ë‹¤.

In [5]:
df1.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

1ê°œ ì´ìƒì˜ ì¸ë±ìŠ¤ëª…ì„ ì„ íƒí•˜ê³ ì í•  ë•Œì—ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•œë‹¤.

In [6]:
df1.loc[['a']]

    A   B   C   D
a  10  11  12  13

In [7]:
df1.loc[['b', 'c']]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

ì»¬ëŸ¼ì´ ì•„ë‹Œ ì¸ë±ìŠ¤ì´ë¯€ë¡œ ìŠ¬ë¼ì´ì‹±ì´ ê°€ëŠ¥í•˜ë‹¤.

In [8]:
df1.loc['b':'c']

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

Boolean Selectionìœ¼ë¡œ í–‰ì„ ì„ íƒí•  ìˆ˜ ìˆë‹¤.

In [9]:
df1.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [10]:
df1.loc[df1.A > 15]

    A   B   C   D
c  18  19  20  21

ì¸ë±ìŠ¤ëª…ê³¼ ì»¬ëŸ¼ëª…ì„ ì´ìš©í•´ ê°œë³„ ë°ì´í„°ì— ì ‘ê·¼í•  ìˆ˜ ìˆë‹¤.

In [11]:
df1.loc['a', 'A']

10

In [12]:
df1.loc['a', 'A'] = 50

In [13]:
df1

    A   B   C   D
a  50  11  12  13
b  14  15  16  17
c  18  19  20  21

loc ì¸ë±ì„œë¥¼ ì‚¬ìš©í•´ ë‹¤ìŒê³¼ ê°™ì´ ë‹¤ì–‘í•œ ë°©ë²•ìœ¼ë¡œ ì¸ë±ì‹±ì„ í•  ìˆ˜ ìˆë‹¤.

In [14]:
df1.loc['a']               # a í–‰ì˜ ëª¨ë“  ì—´ ì„ íƒ, Series ë°˜í™˜
df1.loc['a', 'B':'C']      # a í–‰ì˜ B ~ C ì—´ ì„ íƒ, Series ë°˜í™˜
df1.loc['a']['B':'C']      # a í–‰ì˜ B ~ C ì—´ ì„ íƒ, Series ë°˜í™˜
df1.loc['a', ['B', 'C']]   # a í–‰ì˜ B, C ì—´ ì„ íƒ, Series ë°˜í™˜
df1.loc[['a']]             # a í–‰ì˜ ëª¨ë“  ì—´ ì„ íƒ, DataFrame ë°˜í™˜
df1.loc[['a'], 'B':'C']    # a í–‰ì˜ B ~ C ì—´ ì„ íƒ, DataFrame ë°˜í™˜
df1.loc[['a'], ['B', 'C']] # a í–‰ì˜ B, C ì—´ ì„ íƒ, DataFrame ë°˜í™˜

A    50
B    11
C    12
D    13
Name: a, dtype: int32

B    11
C    12
Name: a, dtype: int32

B    11
C    12
Name: a, dtype: int32

B    11
C    12
Name: a, dtype: int32

    A   B   C   D
a  50  11  12  13

    B   C
a  11  12

    B   C
a  11  12

---

## ğŸ“‚ DataFrame ì¸ë±ì„œ - iloc

locì™€ ë™ì¼í•˜ê²Œ í–‰ ë‹¨ìœ„ ì ‘ê·¼ì„ ì§€ì›í•˜ëŠ” DataFrame ì¸ë±ì„œì´ë‹¤.<br>
ê·¸ëŸ¬ë‚˜ ì¸ë±ìŠ¤ëª…ì´ ì•„ë‹Œ ìœ„ì¹˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì •ìˆ˜ ì¸ë±ìŠ¤ë§Œì„ ì‚¬ìš©í•œë‹¤.

In [15]:
df1

    A   B   C   D
a  50  11  12  13
b  14  15  16  17
c  18  19  20  21

ì¸ë±ìŠ¤ ë²ˆí˜¸ê³¼ ì»¬ëŸ¼ ë²ˆí˜¸ì„ ì„ íƒí•´ ê°œë³„ ë°ì´í„°ì— ì ‘ê·¼í•  ìˆ˜ ìˆë‹¤.

In [16]:
df1.iloc[0, 1]

11

ìŠ¬ë¼ì´ì‹±ì„ ì´ìš©í•´ ì›í•˜ëŠ” í–‰ê³¼ ì—´ì„ ì„ íƒí•  ìˆ˜ ìˆë‹¤.

In [17]:
df1.iloc[0:2, 1:2]

    B
a  11
b  15

ë‹¨ì¼ ì¸ë±ìŠ¤ ë²ˆí˜¸ í˜¹ì€ ë‹¨ì¼ ì»¬ëŸ¼ ë²ˆí˜¸ë¥¼ í•˜ë‚˜ë¼ë„ í¬í•¨í•œë‹¤ë©´ ë°˜í™˜í˜•íƒœëŠ” Seriesì´ë‹¤.

In [18]:
df1.iloc[2]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [19]:
df1.iloc[0:2, 1]

a    11
b    15
Name: B, dtype: int32

1ê°œ ì´ìƒì˜ ì¸ë±ìŠ¤ ë²ˆí˜¸ ë˜ëŠ” ì»¬ëŸ¼ ë²ˆí˜¸ë¥¼ ì„ íƒí•˜ê³ ì í•  ë•Œì—ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•œë‹¤.

In [20]:
df1.iloc[[0, 1], [1, 2]]

    B   C
a  11  12
b  15  16